.editProfile {
  padding-top: 12px;
  display: flex;
  gap: 12px;
  &__column {
    width: 259px;
  }
}
.associatesGroup {
  display: flex;
  gap: 12px;
}
.associatesList {
  height: 400px;
  overflow-y: auto;
  &::-webkit-scrollbar {
      width: 6px;
      background-color: #ffffff;
    }
  
    &::-webkit-scrollbar-thumb {
      width: 8px;
      background-color: #b4b4b4;
      border-radius: 6px;
    }
}